.home{

    color: white;
    padding-left: 50px;
}
.home h1{
    font-size: 30px;
}
.home h2{
    font-size: 20px;
}
.home h3{
    font-size: 15px;
}
.signupForm{
    color: white;
}

/*
    necessary so that they are hidden in the transition stages
*/

.loggedInTag{
    display:none;
}
/*unique to creators*/
.creatorTag{
    display:none;
}
/*unique to members*/
.memberTag{
    display:none;
}
