<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta name="keywords" content="Learning, App, Learning app"  />
    <meta name="description" content="A learning tool to help students rank class questions" />
    <title>Classroom Helper</title>
    <link rel="stylesheet" type="text/css" href="assets/main.css"/>
    
    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	 <!-- jQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
      
  </head>
    
<body class="blue">
 <% include navigation.ejs %>

 <div class="section"></div>

<div class="row">
		<div class="container">
			<div class="title">
			</div>

			<a href="#questionPopUp" class="btn-floating btn-large red modal-trigger tooltipped" data-position="top" data-tooltip="Create a question"><i class="material-icons">add</i></a>

			<ul class="collection with-header questions">
					<li class="collection-header"><h4>Questions</h4></li>

			</ul>
		</div>
</div>

<div class="modal" id="questionPopUp">
     <div class="modal-content input-field">
	   <div class="modal-content">
		<input placeholder="Question" id="questionInput" type="text" class="validate">
          <button id="btnQuestionSubmit" class="modal-close btn-action btn">Post</button>
	</div>
</div>


<ul class="collection questions">

</ul>



 	<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-functions.js"></script>


<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDAZbHYl2zGdEPq_ksRupnrU4q4TeS85EI",
    authDomain: "classroom-helper-8cf0c.firebaseapp.com",
    databaseURL: "https://classroom-helper-8cf0c.firebaseio.com",
    projectId: "classroom-helper-8cf0c",
    storageBucket: "classroom-helper-8cf0c.appspot.com",
    messagingSenderId: "276874347051",
    appId: "1:276874347051:web:28c5fcfc0fa7f240"
  };

  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  const auth = firebase.auth();
  const db = firebase.firestore();
  const functions = firebase.functions();

</script>

	<script src="/assets/functions.js"></script>
    <script src="/assets/questions.js"></script>
	<script src="/assets/navigation.js"></script>


 </body>
